@charset "utf-8";
html,body{
	min-width:1150px;
	margin:0;
	padding:0;
	border: 0;
	font-family:"Microsoft YaHei","Î¢ÈíÑÅºÚ","PingFang SC","Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
	display:block;
	position:relative;
}
.logo-box{
    width:100%;
    height:60px;
    background:#fff;
    position:relative;
 }
.logo-box .logo{
	width:140px;
	height:22px;
	margin:16px 20px 10px 115px; 
	background:url(../img/knx_logo.png)no-repeat center center;
	background-size:100% 100%;
	float:left;
}
.logo-box .ht-logo{
	width:81px;
	height:26px;
	margin-top:17px;
	background:url(../../lib/img/ht_logo.png)no-repeat center center;
	background-size:100% 100%;
	float:left;
}
.logo-box .ht-btn{
    width:140px;
    height:45px;
    float:right;
    border-radius:4px;
    margin-right:113px;
    margin-top:7px;
    border:1px solid #efa03c;
    line-height:45px;
    font-size:14px;
    text-align:center;
    color:#efa03c;
}
.logo-box .ht-btn a{
    width:100%;
    height:100%;
    display:block;
    text-decoration:none;
    color:#efa03c;
}
header{
	width:100%;
	height:350px;
	background:url(../img/tu.png)no-repeat center center;
	background-size:cover;
	position:relative;
}
header .title{
	width:100%;
	height: 33px;
	margin:0 auto;
	padding-top:137px;
	padding-bottom:12px;
	font-size: 30px;
	font-weight: 600;
	line-height: 33px;
	letter-spacing: 6px;
	text-align: center;
	color: rgba(255, 255, 255, 0.9);
}
header .line{
  	width: 180px;
  	height: 1px;
  	margin:0 auto;
  	background: rgba(256,256,256,.5);
}
header ul{
	width:290px;
	height:22px;
	margin:0 auto;
	padding-top:28px;
	padding-left: 45px;
	list-style-type:none;
}
header ul li{
	display:inline-block;
	width: 64px;
	height: 22px;
	float:left;
	font-size: 16px;
	text-align: center;
	line-height:22px;
	padding-right:30px;
	color: rgba(255, 255, 255, 0.9);
	position:relative;
}
header ul li::before{
	content:"";
	width:4px;
	height:4px;
	border-radius:100px;
	background:#fff;
	position:absolute;
	top:9px;
	left:-9px;
}

section{
	width:100%;
}
section .flow{
	width:100%;
	margin:0 auto;
	height:380px;
	background:#fff;
}
section .flow .flow-title{
	width:100%;
  	height: 42px;
  	padding-top:60px;
  	padding-bottom:10px;
  	font-size: 30px;
  	font-weight: 300;
  	letter-spacing: 1.5px;
  	text-align:center;
  	color: #333333;
}
section .flow .flow-line {
  	width: 40px;
  	height: 2px;
  	margin:0 auto;
  	background:#efa03c;
}
section .flow .flow-step{
	width:1100px;
	margin:0 auto;
	height:211px;
	padding:50px 0;
	padding-left:10px;
}
section .flow .flow-step .step{
	float:left;
	height:211px;
	position:relative;
}
section .flow .flow-step .step .step-icon{
	width:300px;
	height:1px;
	background:#d2d2d2;
	position:relative;
}
section .flow .flow-step .step:nth-of-type(4) .step-icon{
	width:200px;
}
section .flow .flow-step .step .step-icon .badge{
	width: 6px;
  	height: 6px;
  	background:#dddddd;
  	border:9px solid #dddddd;
  	border-radius:100px;
  	position:absolute;
  	top:-12px;
  	left:-12px;
}
section .flow .flow-step .step .step-icon .badgecolor{
	border:9px solid #ffaa00;
	background:#fff;
}
section .flow .flow-step .step .step-box{
	width:260px;
  	height: 143px;
  	margin-left:16px;
  	padding-left:14px;
  	padding-right:10px;
  	background-color: #fff;
  	position:absolute;
  	cursor:pointer;
  	top:20px;
  	left:-40px;
  	transition:background-color 0.2s;
	-webkit-transition:background-color 0.2s; /* Safari */
}
section .flow .flow-step .step .step-box:hover{
	background-color:#f5f5f5;
}
section .flow .flow-step .step .step-box .step-title{
	padding-top:8px;
	font-size: 20px;
	letter-spacing: 1px;
	text-align: left;
	color: #333333;
}
section .flow .flow-step .step .step-box .step-dec{
	padding-top:7px;
	padding-bottom:10px;
  	font-size: 16px;
  	letter-spacing: 0.8px;
  	line-height:24px;
  	text-align: left;
  	color: #6d6d6d;
}
section .flow .flow-step .step .step-box .step-btn{
	width: 80px;
  	height: 30px;
  	border-radius: 4px;
  	background-color: #f5f5f5;
 	border: solid 1px #acacac;
  	font-size: 14px;
  	text-align: center;
  	color: #acacac;
  	line-height:30px;
  	position:absolute;
  	bottom:15px;
  	left:16px;
  	opacity:0;
}
section .flow .flow-step .step .step-box .btnjump{
 	background-color: #f5f5f5;
  	border: solid 1px #0099e5;
  	color: #0099e5;
}
section .personal{
	width:100%;
	height:502px;
	background:#f8f8f8;
	position:relative;
}
section .personal .personal-title{
	margin:0 145px;
	padding-top:60px;
	padding-bottom:45px;
  	font-size: 30px;
  	font-weight: 300;
  	letter-spacing: 1.5px;
  	text-align: center;
  	color: #333333;
  	border-bottom:1px dashed #bdbdbd;
}
section .personal .personal-line{
  	width: 262px;
  	height: 30px;
  	margin:0 auto;
  	margin-top:-10px;
  	background:#f8f8f8;
}
section .personal .personal-name{
	width:220px;
	height: 28px;
    line-height: 28px;
    background:#efa03c;
    margin-top: -36px;
    font-size: 16px;
    letter-spacing: 0.9px;
    text-align: center;
    color: #fff;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	position:relative;
	position:absolute;
	top:167px;
	left:50%;
	margin-left:-110px;
	z-index:100;
}
section .personal .personal-name-bottom{
	width:220px;
	height:28px;
	opacity: 0.25;
  	background-color: #848484;
	position:absolute;
	top:136px;
	left:50%;
	margin-left:-102px;
	z-index:10;
}
section .personal .personal-message{
	width:900px;
	height:240px;
	margin:0 auto;
	padding-left:100px;
	padding-top:60px;
	position:relative;
}
section .personal .personal-message .item{
	width:290px;
	height:120px;
	float:left;
	position:relative;
	overflow:hidden;
}
section .personal .personal-message .item:nth-of-type(2){
	width:310px;
}
section .personal .personal-message .item:nth-of-type(5){
	width:310px;
}
section .personal .personal-message .item:nth-of-type(3){
	width:300px;
}
section .personal .personal-message .item:nth-of-type(6){
	width:300px;
}
section .personal .personal-message .item .circle{
	width: 50px;
  	height: 50px;
  	border: solid 1px #c3c3c3;
  	border-radius:100px;
  	float:left;
}
section .personal .personal-message .item .circle i{
	line-height:50px;
	font-size:26px;
	color:#6d6d6d;
	margin-left:16px;
}
section .personal .personal-message .item:nth-of-type(1) .circle i{
	font-size:20px;
	margin-left:15px;
}
section .personal .personal-message .item:nth-of-type(2) .circle i{
	font-size:22px;
	margin-left:15px;
}
section .personal .personal-message .item:nth-of-type(3) .circle i{
	font-size:24px;
	margin-left:15px;
}
section .personal .personal-message .item:nth-of-type(4) .circle i{
	font-size:26px;
	margin-left:15px;
}
section .personal .personal-message .item:nth-of-type(5) .circle i{
    margin-left: 13px;
    font-size: 22px;
}
section .personal .personal-message .item:nth-of-type(6) .circle i{
	font-size:22px;
	margin-left:15px;
}
section .personal .personal-message .item .item-message{
	width:200px;
	height:60px;
	float:left;
	padding-left:18px;
}
section .personal .personal-message .item:nth-of-type(2) .item-message {
    width: 220px;
}
section .personal .personal-message .item:nth-of-type(5) .item-message {
    width: 220px;
}
section .personal .personal-message .item:nth-of-type(3) .item-message {
    width: 205px;
}
section .personal .personal-message .item:nth-of-type(6) .item-message {
    width: 205px;
}
section .personal .personal-message .item .item-message .item-title{
  	font-size: 20px;
  	letter-spacing: 1px;
  	line-height:22px;
  	text-align: left;
 	color: #333333;
 	white-space:word-break;
}
section .personal .personal-message .item .item-message .item-content{
	padding-top:11px;
  	font-size: 16px;
 	letter-spacing: 0.9px;
  	text-align: left;
  	color: #8c8c8c;
	word-break:break-all;
}

/************************************ºÏ×÷»ï°é***************************/
section .friend{
	width:100%;
	background:#fff;
}
section .friend .friend-title{
	font-size: 30px;
  	font-weight: 300;
  	letter-spacing: 2.4px;
  	text-align: center;
  	color: #19181a;	
  	padding:60px 0 10px 0;
}
section .friend .friend-line{
	width: 40px;
  	height: 2px;
  	margin:0 auto;
  	background:#efa03c;
  	margin-bottom:10px;
}
section .friend .friend-box{
	width:1100px;
	height:240px;
	border-radius: 4px;
	margin:0 auto;
	margin-top:35px;
	margin-bottom:120px;
	position:relative;
}
section .friend .friend-box .line-left-one{
	width: 19px;
  	height: 3px;
  	background:#efa03c;
  	position:absolute;
  	top:-2px;
  	left:-8px;
  	z-index:100;
}
section .friend .friend-box .line-left-two{
	width: 3px;
  	height: 19px;
  	background:#efa03c;
  	position:absolute;
  	top:-8px;
  	left:-2px;
  	z-index:100;
}
section .friend .friend-box .line-right-one{
	width: 19px;
  	height: 3px;
  	background:#efa03c;
  	position:absolute;
  	top:-2px;
  	right:-8px;
  	z-index:100;
}
section .friend .friend-box .line-right-two{
	width: 3px;
  	height: 19px;
  	background:#efa03c;
  	position:absolute;
  	top:-8px;
  	right:-1px;
  	z-index:100;
}
table,table tr td {
	width:220px;
	text-align:center;
	padding:0; 
	border:1px solid #e2e2e2;
	color:#6d6d6d;
	font-size:12px;
	position:relative;
	
	transition:all 0.2s;
	-ms-transition:all 0.2s; 	/* IE 9 */
	-moz-transition:all 0.2s; 	/* Firefox */
	-webkit-transition:all 0.2s; /* Safari ºÍ Chrome */
	-o-transition:all 0.2s;
}
table { 
	width:100%;
	height:100%;
	border-collapse: collapse;
}
table tr td:hover{
	color:#efa03c;
	-moz-box-shadow: 0 0 8px 3px #f5f5f5;/*firefox*/  
	-webkit-box-shadow: 0 0 8px 3px #f5f5f5;/*webkit*/  
	box-shadow: 0 0 8px 3px #f5f5f5;
}
section .friend .friend-box table tr td img{
	position:absolute;
	top:20px;
	left:50%;
}
section .friend .friend-box table tr td .logo-name{
  	position:absolute;
  	width:100%;
  	bottom:20px;
  	left:0;
}
section .friend .friend-box table tr td .volvo{
	margin-top:5px;
	margin-left:-25px;
}
section .friend .friend-box table tr td .dun{
	margin-top:12px;
	margin-left: -86px;
}
section .friend .friend-box table tr td .taikang{
	margin-top:5px;
	margin-left:-58px;
}
section .friend .friend-box table tr td .kws{
	margin-left:-60px;
}
section .friend .friend-box table tr td .gen{
	margin-left:-37px;
}
section .friend .friend-box table tr td .dazhong{
	margin-top:5px;
	margin-left:-29px;
}
section .friend .friend-box table tr td .lijinji{
	margin-left:-31px;
}
section .friend .friend-box table tr td .anyong{
	margin-left:-31px;
}
section .friend .friend-box table tr td .pwc{
	margin-top:2px;
	margin-left:-30px;
}
section .friend .friend-box table tr td .tengmen{
	margin-left:-28px;
}



footer{
	width:100%;
	height:80px;
	background-color: #454545;
  	font-size: 14px;
  	text-align: left;
  	color: rgba(208, 208, 208, 0.9);
}
footer span{
	display:inline-block;
	float:right;
	line-height:80px;
	padding-right:30px;
}
footer span a{
	font-size:14px;
	color: rgba(208, 208, 208, 0.9);
	text-decoration:none;
}
footer .in{
	padding-right:103px;
}
footer .in i{
	font-size:17px;
}
footer .weibo{
	padding-right:20px;
}
footer .weibo i{
	font-size:17px;
}
footer .reg{
	float:left;
	padding-left:103px;
	padding-right:10px;
}

@media screen and (max-width:1248px) {
	section .flow .flow-step {
    	width: 1000px;
	}
	section .flow .flow-step .step .step-box {
    	width: 240px;
    }
    section .flow .flow-step .step .step-icon {
    	width: 275px;
    }
    section .flow .flow-step .step:nth-of-type(4) .step-icon{
    	width:175px;
    }
}

