@charset "utf-8";
html { font-family:"Microsoft YaHei","Î¢ÈíÑÅºÚ","PingFang SC","Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
body { margin: 0;color: #333; background-color: #f2f2f2;  overflow-x: hidden; -webkit-overflow-scrolling: touch; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
svg:not(:root) { overflow: hidden; }
a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; color: #0088cc; }
a:active { outline: 0; }
a:active { color: #006699; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; vertical-align: middle;}
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
pre { overflow: auto; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; resize: vertical;}
optgroup { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; padding:0;}
ul, ol, li, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style: none outside none; }
h1, h2, h3 { line-height: 2; font-weight: normal; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix{*zoom:1;}
.flex{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center;-webkit-box-pack: center;}

html,body{background:#ffffff;text-align: center;width:100%;max-width:800px;margin:0 auto;}

img{max-width: 100%;}
.red{color:#ff6060;}

.g_alert{max-width:160px;text-align:center;padding:10px;color:#fff;border-radius:5px;background: rgba(0,0,0,0.8);display:block;position: fixed;z-index: 200;bottom:40px;left:50%;font-size:12px;}
.g_alert_video{max-width:160px;text-align:center;padding:12px 30px;color:#fff;border-radius:7px;background: rgba(0,0,0,0.8);display:block;position: fixed;z-index: 2000;top:45%;left:50%;font-size:16px;}

/****************************************************Common Style End******************************************************/
.content{
    width:100%;
    height:100%;
    padding-top:80px;
    background:#fff;
}
.top{
	width:140px;
	height: 140px;
	margin:0 auto;
  	background:url(../img/wechatassessment.png)no-repeat center center;
  	background-size:100% 100%;
}
.title{
    padding-top:20px;
    font-size: 18px;
    text-align: center;
    color: #333333;
}
.dec{
    width:265px;
    margin:0 auto;
    padding-top:10px;
    font-size: 12px;
    text-align: center;
    color: #6d6d6d;
}
.dec span{
    color:#efa03c;
}
.btn-box{
    width:270px;
    height:45px;
    margin:0 auto;
    margin-top:80px;
    margin-bottom:50px;
}
.btn-box .begin{
    float:left;
    width:120px;
    height:45px;
    line-height:45px;
    border-radius: 4px;
    background:#efa03c;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color:#fff;
}
.btn-box .back{
    float:right;
    width:120px;
    height:45px;
    line-height:45px;
    border-radius: 4px;
    background:#c3c3c3;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color:#fff;
}
.btn-box a{
    display:block;
    width:100%;
    height:100%;
    text-decoration:none;
    color:#fff;   
}


.dialog{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.6);
	position:fixed;
	top:0;
	left:0;
	z-index:100;
}

.dialog .flo{
	width:100%;
	padding-left:30px;
	padding-top:30px;
	font-size: 16px;
  	text-align: left;
  	color: #ffffff;
  	opacity:0.9;
}
.dialog .flo .flo-one{
	width:100%;
	padding-bottom:15px;
} 
.dialog .flo .flo-one .arrow{
	display:inline-block;
	width:40px;
	height:20px;
	line-height:20px;
	background:rgba(0,0,0,0.6);
}
.dialog .flo .flo-one .arrow i{
	display:inline-block;
	width:4px;
	height:4px;
	margin-bottom:3px;
	margin-right:2px;
	border-radius:100px;
	background:#fff;
}
.dialog .flo .flo-one .arrow i:nth-of-type(1){
	margin-left:12px;
}
.dialog{
	display:block;
}
.dialog .flo{
	display:block;
}
/*******************Media Query  Begin****************************/
@media screen and (max-width:360px){
	.dialog .flo {
        padding-left: 20px;
        font-size: 15px;
	}
}
@media screen and (max-width:320px){
	
}

/*******************Media Query  End****************************/






