*{
	padding:0;
	margin:0;
}
html,body{
	min-width:1000px;
	height:100%;
	margin:0;
	padding:0;
	border: 0;
	font-family:"Microsoft YaHei","微软雅黑","PingFang SC","Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
	display:block;
	position:relative;
	background:#f7f7f7;
}
a{
	display:block;
	text-decoration:none;
}
.top{
	width:100%;
	height:279px;
	position:relative;
}
.top img{
	width:100%;
}
.flo{
	width:740px;
	height:400px;
	background:#fff;
	position:absolute;
	top:184px;
	left:50%;
	margin-left:-370px;
	z-index:1000;
	border-radius: 4px;
}
.flo .title{
	padding-top:60px;
	padding-bottom:40px;
	font-size: 20px;
  	text-align: center;
  	color: #6d6d6d;
}
.flo .dec{
	width:530px;
	margin:0 auto;
	padding-bottom:25px;
	font-size: 16px;
	line-height: 1.38;
  	text-align: left;
  	color: #6d6d6d;
}
.flo .text{
	margin-left:105px;
	font-size: 16px;
  	text-align: left;
  	color: #6d6d6d;
  	padding-bottom:30px;
}
.flo .logo-box{
	width:480px;
	height:100px;
	margin:0 auto;
}
.flo .logo-box .logo{
	height:60px;
	float:left;
	margin-right:45px;
	position:relative;
}
.flo .logo-box .s{
	width:56px;
}
.flo .logo-box .f{
	width:59px;
}
.flo .logo-box .c{
	width:60px;
}
.flo .logo-box .e{
	width:64px;
}
.flo .logo-box .o{
	margin-right:0px;
	width:57px;
}
.flo .logo-box  .log img{
	width:100%;
}

.flo .logo-box .logo .logo-name{
	display:inline-block;
	float:left;
	margin-right:67px;
	font-size: 12px;
  	text-align: left;
  	color: #6d6d6d;
  	position:absolute;
  	bottom:-25px;
}
.flo .logo-box .logo .sn{
	left:11px;
}
.flo .logo-box .logo .fn{
	left:10px;
}
.flo .logo-box .logo .cn{
	left:9px;
}
.flo .logo-box .logo .en{
	left:24px;
}
.flo .logo-box .logo .on{
	left:11px;
}

