
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <title>Index</title>
    
    <link rel="stylesheet" href="../../Content/ogcs/lib/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../../Content/ogcs/Assessment/css/font-awesome.min.css"
        type="text/css" />
    <link rel="stylesheet" href="../../Content/ogcs/Assessment/css/Index.css?v=20170925"
        type="text/css" />
       
    <!--[if lt IE 9]>
      <script src="../../Scripts/ogcs/ContactUser/html5shiv.min.js"></script>
      <script src="../../Scripts/ogcs/ContactUser/respond.min.js"></script>
    <![endif]-->
    
</head>
<body>
    <div class="logo-box">
        <div class="logo"></div>
        <div class="ht-logo"></div>
        <div class="ht-btn">
            <a href="https://www.htsaclub.com/" target="_blank">海途学子首页</a>
        </div>
    </div>
    
<header>
	<div class="content">
		<div class="left"></div>
		<div class="right">
			<div class="title">探索自我<span></span>专业测评</div>
			<div class="dec">通过完整系统的测评工具建立对自己客观公正的认知</div>
			<div class="begin-btn" data-bind="click:ClickBegin">立即开始<i></i></div>
		</div>
	</div>
</header>
<section>
	<div class="top">
		<div class="top-box">
			<span>当前位置：</span>
			<span class="home"><a href="/ogcs/Core/">首页</a></span>
			<span class="right-icon"></span>
			<span class="seek-text">探索自我</span>
		</div>
	</div>
    <div class="nav-tip">
        <div class="nav-one">
            请仔细阅读以下测评简介，您可以根据自己的实际情况选择其中三个测评进行作答，
        </div>
        <div class="nav-two">
            作答过程中每个单独的测评都需要一次性作答完毕，请您在安静的环境中，保持注意力集中作答。
        </div>
        <div class="nav-three">
            测评结束后你将解锁“<span class="yel">解读自我</span>”功能，查看个人报告和观看解读视频。
        </div>
    </div>
	<div class="evaluation">
		<div class="select-box">
			已选<span class="selected-num red" data-bind="text:Num"><!--1--></span><span class="red">/</span><span class="total-num red">3</span>个
		</div>
		<div class="tip">
			<div class="tip-text">您将在3个工作日内收到报告结果</div>
		</div>
		<div class="list" data-bind="foreach:Items">
			<a class="item" target="_blank" data-bind="attr:{index:ID,status:AssessmenStatus,num:$index(),key:(AssessmenStatus==3)?2:((AssessmenStatus==1||AssessmenStatus==2)?1:($parent.Num()>=3?0:1)),row:$index()>=4?3:($index()>=2?2:1),enlignt:($parent.Num()>=3&&AssessmenStatus==0)?0:1},click:function(){vm.ClickItem($index())}">
				<div class="title" data-bind="text:Name"><!--ES就业竞争力测试--></div>
				<div class="dec" data-bind="html:Description"><!--对照就业能力标准，识别短板及时提升--></div>
				<div class="begin-btn">
					开始测试<span class="arrow"><i></i></span>
				</div>
				<div class="state" data-bind="visible:AssessmenStatus!=0,text:AssessmenStatus!=0?(AssessmenStatus!=3?'未完成':'已完成'):'',attr:{status:AssessmenStatus}"><!--未完成--></div>
			</a>
		</div>
        <div class="clearfix"></div>
	</div>
</section>
<div class="dialog" data-bind="visible:ShowDialog()" style="display:none;">
    <div class="dialog-box first" data-bind="visible:ShowFirst()" style="display:none;">
        <div class="top first-top">
            <div class="top-text">
                <i class="fa fa-exclamation-circle"></i>提示</div>
        </div>
        <div class="tip-content first-tip-content">
            请问您是否确定选择此测试一旦选择无法修改</div>
        <div class="tip-btn confirm-btn" data-bind="click:ClickConfirm">
            确定</div>
        <div class="tip-btn cancel-btn" data-bind="click:ClickCancel">
            取消</div>
    </div>
    <div class="dialog-box repeat" data-bind="visible:ShowRepeat()" style="display:none;">
        <div class="top repeat-top">
            <div class="top-text">
                <i class="fa fa-exclamation-circle"></i>提示</div>
        </div>
        <div class="tip-content">
            如果你已完成该测评，不需要继续测试</div>
        <div class="tip-btn continue-btn" data-bind="click:ClickContinue">
            测试</div>
        <div class="tip-btn no-btn" data-bind="click:ClickNo">
            取消</div>
    </div>
</div>

    <footer>
	<span class="reg">©肯耐珂萨 2017 | 沪ICP备09051952号-2</span>
	<span class="in"><a href="http://www.linkedin.com/company/knx?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A1825638231400554720831%2CVSRPtargetId%3A3707210%2CVSRPcmpt%3Aprimary" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
	<span class="weibo"><a href="http://weibo.com/KNXCompany" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a></span>
	<span class="tel"><a href="http://knx.com.cn/about/contact_us" target="_blank">联系我们</a></span>
	<span class="about"><a href="http://knx.com.cn/about" target="_blank">关于我们</a></span>
    </footer>
    
    <script type="text/javascript" src="../../Scripts/ogcs/Assessment/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../Scripts/ogcs/Assessment/knockout.min.js"></script>
    <script type="text/javascript">
        var oList = [{"ID":1,"Name":"ES就业竞争力测试","Description":"对照就业能力标准，<br/>123<br/>123<br/>第四行<br/><br/><br/>","AssessmenStatus":0},
	        {"ID":2,"Name":"AT能力测试\r\n","Description":"外企名企校招必备，在线能力测评，提前预知能力水平，稳抓胜率\r\n","AssessmenStatus":3},
	        {"ID":3,"Name":"创业成功率测试\r\n","Description":"在小型互联网公司拼搏到底适不适合\r\n如何才能与初创公司共同进步\r\n","AssessmenStatus":1},
	        {"ID":4,"Name":"情商测试\r\n","Description":"如何在职场中如鱼得水\r\n如何发挥自己的性格优势赢得职场战争\r\n","AssessmenStatus":0},
	        {"ID":5,"Name":"EPA职业性格测试","Description":"全面了解职业性格，找到性格亮点，区别对待，客观评价","AssessmenStatus":0},
	        {"ID":6,"Name":"Harrison性格测试","Description":"与心仪职位的匹配度精确到两位小数！在不同职业中纠结？来测测！<br/>还可以挖掘最大性格优势，用性格优势与面试官对话！<br/>","AssessmenStatus":0}
        ];
    
		var oNum=2;			//已经选择过的测评数量
		
        var vm = {
            Items: ko.observableArray(oList),
            Num: ko.observable(oNum),			//已选择测评数量
            CompleteNum: ko.observable(0),		//已完成数量
            
            //提示弹窗
        	ShowDialog:ko.observable(false),
        	ShowFirst:ko.observable(false),
        	ShowRepeat:ko.observable(false),
            
            CurrentItem:ko.observable(),	//保存当前选中的测评项目的ID
            CurrentNum:ko.observable(),		//保存当前选中的测评项目的顺序下标
            
            //点选测评项目
            ClickItem:function(index){
            	var oStatus = $(".item").eq(index).attr("status");
                var oKey = $(".item").eq(index).attr("key");
                var oId = $(".item").eq(index).attr("index");
   				
   				if(oKey==="1"){
                    //切换当前点击的项目
                    vm.CurrentItem(oId);
                    vm.CurrentNum(index);
                    if (oStatus === "0") {
                        vm.ShowFirst(true);
               			vm.ShowDialog(true);
                    }

                    if (oStatus === "1" || oStatus === "2") {
                        vm.ShowRepeat(true);
               			vm.ShowDialog(true);
                    }
                }
            },
            //确定选中测评项
            ClickConfirm:function(){
            	var oNum = vm.Num();
                var oCurrentStatus = $(".item[index='"+vm.CurrentItem()+"']").attr("status");
                if (oCurrentStatus === "0") {
					oList[vm.CurrentNum()].AssessmenStatus=1;
                    vm.Num(parseInt(oNum) + 1);
                    vm.Items([]);
                    vm.Items(oList);
                }

                vm.ShowFirst(false);
               	vm.ShowDialog(false);

                //打开新标签页
                window.open('select?assessmentId=' + vm.CurrentItem());
            },
            //取消选中
            ClickCancel:function(){
            	vm.ShowFirst(false);
               	vm.ShowDialog(false);
            },
            //继续测评
            ClickContinue:function(){
            	vm.ShowRepeat(false);
               	vm.ShowDialog(false);
                //打开新标签页
                window.open('select?assessmentId=' + vm.CurrentItem());
            },
            //不在继续
            ClickNo:function(){
            	vm.ShowRepeat(false);
               	vm.ShowDialog(false);
            },
            //立即开始
            ClickBegin:function(){
            	$("html,body").animate({ scrollTop: 410 }, 400);
            }
        }
        
		ko.applyBindings(vm);
		
        $(function () {
			
			//判断是否已完成
            var timer = window.setInterval(function () {
                if (vm.Num() > 0) {
                    var getAjax = false;
                    for (i = 0; i < 6; i++) {
                        if (oList[i] && (oList[i].AssessmenStatus == 2 || oList[i].AssessmenStatus == 1)) {
                            getAjax = true;
                            break;
                        }
                    }
                    if (getAjax) {
                        getAjax = false;
                        $.getJSON("/ogcs/Assessment/GetUserAssessmentStatus?"+Math.random()
                        , function (resu) {
                            if (resu && resu.success && resu.data) {
                                if (resu.data.length == 3) window.clearInterval(timer);
                                if (resu.data.length > vm.CompleteNum()) {
                                    vm.CompleteNum(resu.data.length);
                                    for (j = 0; j < resu.data.length; j++) {
                                        for (k = 0; k < 6; k++) {
                                            if (oList[k].ID == resu.data[j]) { oList[k].AssessmenStatus = 3; }
                                        }
                                    }
                                    vm.Items([]);
                                    vm.Items(oList);
                                }
                            }
                        }
                    );
                    }
                }
            }, 2000);

        })
    </script>

</body>
</html>
