
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <title></title>
    <link href="../../Content/ogcs/ContactUser/css/foundation-datepicker.css" rel="stylesheet"
        type="text/css">
    <link rel="stylesheet" href="../../Content/ogcs/ContactUser/iconfont/material-icons.css"
        type="text/css" />
    <link rel="stylesheet" href="../../Content/ogcs/ContactUser/css/font-awesome.min.css"
        type="text/css" />
    <link rel="stylesheet" href="../../Content/ogcs/ContactUser/css/m_Index.css?v=20170927"
        type="text/css" />
</head>
<body>
    <div class="back-btn">
        <a href="/ogcs/Core/">返回</a></div>
    <header>
	<div class="top">
		<div class="logo"></div>
        <div class="ht-logo"></div>
        <div class="ht-btn">
            <a href="http://m.htsaclub.com/m" target="_blank">海途学子</a>
        </div>
	</div>
	<div class="banner">
		<div class="title">营销自我</div>
		<div class="dec">匹配优质实习，就业岗位</div>
	</div>
</header>
    <section>
	<div class="detail">
		<div class="title">
			恭喜您已完成前3个学习阶段
			<div class="title-img"></div>
		</div>
		<div class="title-dec">为更快吸引HR眼球，90%求职者还会向企业提供CoverLetter，欢迎下载我们的求职信模板，完成编辑后迅速上传。</div>
		<div class="content">
			<div class="text">联系电话(常用联系电话，紧急联系电话)</div>
			<input type="text"  id="Tel" class="group-input" data-bind="textInput:Tel"/>
			<div class="text">期望工作地区</div>
			<input type="text" class="group-input" id="Address" data-bind="textInput:Address,event:{focus:AddressFocus}" placeholder="请选择您的意向地址"/>
            <div class="text">预计到岗日期</div>
			<input type="text" class="group-input" id="txtArrivalDate" data-bind="textInput:ArrivalDate" placeholder="请选择您的到岗日期"/>
		</div>
	</div>
	<div class="load-box">
		<div class="load-title">上传你的最新简历</div>
		<div class="load-dec">上传您编辑好的最新简历 （您可以获得专业的就业指导，真实的企业面试或录用机会）</div>
		<div class="file-box">
			<a class="file-download file" href="/ogcs/Core/CoverLetter_CV_template">
				<div class="load-img download-img"></div>
				<div class="downlaod-btn load-btn">下载模板</div>
			</a>
			<div class="file-upload file">
                <div id="picker"">
				    <div class="upload-img load-img"></div>
				    <div id="uploadbtn" class="upload-btn load-btn">
					    上传简历
				    </div>
				    <div class="file-tip">
					    <i class="material-icons">&#xE000;</i>
					    <div class="file-tip-text" style="display:none;">
						    <span>简历大小不超过1M</span>
						    <span>word、pdf格式</span>
                            <span>iPhone 请升到ios11</span>
					    </div>
					    <div class="file-tip-arrow" style="display:none;"></div>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<div class="save-btn" id="divSave" style="display:none;" data-bind="click:function(){vm.Submit()}">提 交</div>
    <div id="divPosition" style="display:none;" class="save-btn"><a href="/ogcs/ContactUser/Position">推荐岗位</a></div> 
	

	<div class="save-tip">我们将在5个工作日内由专业老师联系您，请保持手机畅通。</div>
    <div class="dialog" data-bind="visible:ShowTip()" style="display:none;">
        <div class="dialog-box submit">
			<div class="submit-top top">
				<div class="top-text">友情提示</div>
				<div class="top-close">

				</div>
			</div>
			<div class="submit-one" data-bind="text:Tip()"></div>
			<div class="btn confirm-btn" data-bind="click:function(){vm.ClickConfirm()}">确定</div>
		</div>
    </div>

    <!-- 提示弹窗 -->
    <div class="dialog address-select" data-bind="visible:ShowAddress()>0" style="display:none;">
    	<div class="address-box">
    		<div class="address-top">
    			选择地区
    			<div class="top-close" data-bind="click:ClickCloseAddress">
    				<i class="material-icons close-btn">&#xE14C;</i>
    			</div>
    		</div>
    		<div class="address-content">
    			<span class="content-text">已选择（最多选择两项）：</span>
    			<div class="content-box" data-bind="foreach:Select">
    				<div class="address-item" data-bind="click:$parent.ClickSelect,attr:{index:ID}">
    					<div class="address-item-name" data-bind="text:Text">江苏省</div>
    					<i class="material-icons">&#xE14C;</i>
    				</div>
    			</div>
    		</div>
    		<div class="address-nav">
    			<div class="address-hot-nav address-nav-item" data-bind="css:{navactive:ShowList()==0},click:ClickCity">热门城市</div>
    			<div class="address-all-nav address-nav-item" data-bind="css:{navactive:ShowList()==1},click:ClickProvince">所有省份(含港澳台)</div>
    		</div>
    		<div class="address-list address-city" data-bind="visible:ShowList()<1,foreach:City">
    			<div class="address-list-item"><span class="address-item-text" data-bind="text:Text,click:$parent.ClickAddress,attr:{index:ID,key:0}"><!--北京--></span></div>
    		</div>
    		<div class="address-list address-province" data-bind="visible:ShowList()>0,foreach:Province">
    			<div class="address-list-item"><span class="address-item-text" data-bind="text:Text,click:$parent.ClickAddress,attr:{index:ID,key:0}"><!--北京省--></span></div>
    		</div>
    		<div class="address-confirm-btn" data-bind="click:ClickConfirmAddress">保存</div>
    	</div>
    </div>
</section>
    <script type="text/javascript" src="../../Scripts/ogcs/ContactUser/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../../Scripts/ogcs/ContactUser/knockout.min.js"></script>
    <script src="../../Scripts/ogcs/ContactUser/foundation-datepicker.js"></script>
    <script src="../../Scripts/ogcs/ContactUser/foundation-datepicker.zh-CN.js"></script>
    <script src="../../Scripts/ogcs/webuploader.min.js" type="text/javascript"></script>
    <script>
        var oCitys = [
		    { "ID": 1, "Text": "北京" },
		    { "ID": 2, "Text": "上海" },
		    { "ID": 3, "Text": "广州" },
		    { "ID": 4, "Text": "深圳" },
		    { "ID": 5, "Text": "武汉" },
		    { "ID": 6, "Text": "西安" },
		    { "ID": 7, "Text": "杭州" },
		    { "ID": 8, "Text": "南京" },
		    { "ID": 9, "Text": "成都" },
		    { "ID": 10, "Text": "重庆" },
		    { "ID": 11, "Text": "东莞" },
		    { "ID": 12, "Text": "大连" },
		    { "ID": 13, "Text": "沈阳" },
		    { "ID": 14, "Text": "苏州" },
		    { "ID": 15, "Text": "昆明" },
		    { "ID": 16, "Text": "长沙" },
		    { "ID": 17, "Text": "合肥" },
		    { "ID": 18, "Text": "宁波" },
		    { "ID": 19, "Text": "郑州" },
		    { "ID": 20, "Text": "天津" },
		    { "ID": 21, "Text": "青岛" },
		    { "ID": 22, "Text": "济南" },
		    { "ID": 23, "Text": "哈尔滨" },
		    { "ID": 24, "Text": "长春" },
		    { "ID": 25, "Text": "福州" }
	    ];
        var oProvinces = [
		    { "ID": 26, "Text": "广东省" },
		    { "ID": 27, "Text": "江苏省" },
		    { "ID": 28, "Text": "浙江省" },
		    { "ID": 29, "Text": "四川省" },
		    { "ID": 30, "Text": "海南省" },
		    { "ID": 31, "Text": "福建省" },
		    { "ID": 32, "Text": "山东省" },
		    { "ID": 33, "Text": "江西省" },
		    { "ID": 34, "Text": "广西" },
		    { "ID": 35, "Text": "安徽省" },
		    { "ID": 36, "Text": "河北省" },
		    { "ID": 37, "Text": "河南省" },
		    { "ID": 38, "Text": "湖北省" },
		    { "ID": 39, "Text": "湖南省" },
		    { "ID": 40, "Text": "陕西省" },
		    { "ID": 41, "Text": "山西省" },
		    { "ID": 42, "Text": "黑龙江省" },
		    { "ID": 43, "Text": "辽宁省" },
		    { "ID": 44, "Text": "吉林省" },
		    { "ID": 45, "Text": "云南省" },
		    { "ID": 46, "Text": "贵州省" },
		    { "ID": 47, "Text": "甘肃省" },
		    { "ID": 48, "Text": "内蒙古" },
		    { "ID": 49, "Text": "宁夏" },
		    { "ID": 50, "Text": "西藏" },
		    { "ID": 51, "Text": "新疆" },
		    { "ID": 52, "Text": "青海省" },
		    { "ID": 53, "Text": "香港" },
		    { "ID": 54, "Text": "澳门" },
		    { "ID": 55, "Text": "台湾" }
	    ];
        var oSelect = [];
    </script>
    <script type="text/javascript">
        var ContactUser = {};
        var uploader = WebUploader.create();
        var isSeleFile = false;
        var model = {"ID":31,"UserId":119,"IsGraduation":1,"OrderId":159,"Tel":"10814781478","ResumePath":"/ogcs_file/userResume/CoverLetter_CV_template(1)1506631539871.docx","Status":5,"Address":"北京、苏州","ArrivalDate":"2017-09-19T00:00:00","GetArrivalDate":"09/19/2017","CreatedDate":"2017-09-28T20:42:59.43"};
        var vm = {
            Status: model.Status,
            ShowTip: ko.observable(0),
            Tip: ko.observable(""),
            Tel: ko.observable(model.Tel),
            Address: ko.observable(model.Address),
            ShowFontTip: ko.observable(0),

            ArrivalDate: ko.observable(model.GetArrivalDate),
            ShowAddress:ko.observable(0),				//0：隐藏地址弹窗，1：显示地址弹窗
            ShowList:ko.observable(0),					//0:显示city，1：显示省份
            City:ko.observableArray(oCitys),
            Province:ko.observableArray(oProvinces),
            Select:ko.observableArray(oSelect),			//选中的城市和省份
            Submit: function () {
                 if ($.trim(this.Tel()) === '') {
                    this.Tip("联系电话不能为空");
                    this.ShowTip(1);
                    return;
                }
                if ($.trim(this.Address()) === '') {
                    this.Tip("期望工作地区不能为空");
                    this.ShowTip(1);
                    return;
                }
                if ($.trim(this.ArrivalDate()) === "") {
                    this.Tip("预计到岗日期不能为空");
                    this.ShowTip(1);
                    return;
                }
                if (isSeleFile == true) {
                    uploader.upload();
                } else {
                    this.Tip('请上传你的最新简历！');
                    this.ShowTip(1);
                }
            },
            ClickConfirm: function () {
                this.ShowTip(0);
            },
            ClickCity:function(event){
        	    if(this.ShowList()===1){
        		    this.ShowList(0);
        	    }
            },
            ClickProvince:function(event){
        	    if(this.ShowList()===0){
        		    this.ShowList(1);
        	    }
            },
            ClickSelect:function(event){
        	    var oStatus=vm.GetIndex(event);
        	    var oEle=$(".address-item-text[index='"+event.ID+"']");
        	
        	    oSelect.splice(oStatus,1);
        	    oEle.removeClass("activeitem");
		        oEle.attr("key","0");
        	    vm.Select(oSelect);
            },
            ClickAddress:function(event){
        	    var obj={};
        	    var oEle=$(".address-item-text[index='"+event.ID+"']");
		        var oKey=oEle.attr("key");

		        var oStatus=vm.GetIndex(event);
        	
        	    if(oStatus===-1){
        		    if(oSelect.length<2){
		        	    if(oKey==0){
		        		    oEle.addClass("activeitem");
		        		    oEle.attr("key","1");
		        		    obj.ID=event.ID;
		        		    obj.Text=event.Text;
		        		    oSelect.push(obj);
		        		    vm.Select(oSelect);
		        	    }
        		    }
        	    }else{
        		    if(oKey==1){
	        		    oEle.removeClass("activeitem");
	        		    oEle.attr("key","0");
	        		    oSelect.splice(oStatus,1);
	        		    vm.Select(oSelect);
	        	    }
        	    }
            },
            GetIndex:function(event){
        	    var oStatus;
        	    if(oSelect.length>0){
        		    for(var i=0;i<oSelect.length;i++){
	        		    if(oSelect[i].ID===event.ID){
	        			    oStatus=i;
	        			    break;
	        		    }else{
	        			    oStatus=-1;
	        		    }
	        	    }
        	    }else{
        		    oStatus=-1;
        	    }
        	    return oStatus;
            },
            ClickCloseAddress:function(){
        	    vm.ShowAddress(0);
        	
            },
            ClickCancelAddress:function(){
        	    vm.ShowAddress(0);
            },
            ClickConfirmAddress:function(){
        	    var oStr='';
        	    if(oSelect.length===1){
        		    oStr+=oSelect[0].Text;
        	    }
        	
        	    if(oSelect.length===2){
        		    oStr+=oSelect[0].Text+'、'+oSelect[1].Text;
        	    }
        	    vm.Address(oStr)
        	    vm.ShowAddress(0);
            },
            AddressFocus:function(){
                if (vm.Status > 0) return;
        	    vm.ShowAddress(1);
            }
        }
        ko.applyBindings(vm);

        $(document).ready(function () {
            if (model.Status == 0) {
                $("#divSave").css("display","");
                $('#txtArrivalDate').fdatepicker();
                GetContactUser();
            }
            SetCSS();
            

            $("body").on("touchstart", ".file-tip", function (event) {
                var oDisplay = $(".file-tip-text").css("display");
                if (oDisplay === "none") {
                    $(".file-tip-text").css("display", "block");
                    $(".file-tip-arrow").css("display", "block");
                } else {
                    $(".file-tip-text").css("display", "none");
                    $(".file-tip-arrow").css("display", "none");
                }
                event.stopPropagation();
            })


            $("body").on("touchstart", function (event) {
                var oDisplay = $(".file-tip-text").css("display");
                if (oDisplay === "block") {
                    $(".file-tip-text").css("display", "none");
                    $(".file-tip-arrow").css("display", "none");
                } 
            })
        })


        function GetContactUser() {              
            var $ = jQuery;
            uploader = WebUploader.create({
                auto: false,
                swf: '/ogcsAdmin/Content/Uploader.swf',
                server: '/ogcs/ContactUser/UploadResume',
                fileSingleSizeLimit: 1024 * 1024,
                pick: {
                    id: "#picker",
                    multiple: false
                },
                fileNumLimit: 1,
                chunked: false,
                resize: false,
                accept: {
                    extensions: 'pdf,doc,docx'
                },
                duplicate: true
            });

            uploader.on("error", function (type) {
                if (type == "Q_TYPE_DENIED") {
                    vm.Tip("只能上传pdf和word格式的简历!");
                    vm.ShowTip(1);
                } else if (type == "F_EXCEED_SIZE") {
                    vm.Tip("简历大小不能超过1M");
                    vm.ShowTip(1);
                }
            });
            uploader.on('beforeFileQueued', function (file) {
                if (file.ext=="pdf"||file.ext=="doc"||file.ext=="docx") {
                    uploader.reset();
                    isSeleFile = true;
                    if (file.name.length > 8) {
                        $('#uploadbtn').text(file.name.substring(0, 8) + "...")
                    }
                }
            });

            // 文件上传成功，新增用户联系方式
            uploader.on('uploadSuccess', function (file, data) {
                ContactUser = {
                    Tel: vm.Tel(),
                    Address: vm.Address(),
                    ResumePath: data.Data.ResumePath,
                    ID: model.ID,
                    ArrivalDate: vm.ArrivalDate()
                };
                $.ajax({
                    type: "POST",
                    url: "/ogcs/ContactUser/CourseEdit",
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                    data: JSON.stringify(ContactUser),
                    dataType: "json",
                    success: function (result) {
                        if (result.Success) {
                            window.location.href = "/ogcs/ContactUser/Position";
                        } else {
                            vm.Tip(result.Message);
                            vm.ShowTip(1);
                        }
                    }
                });
            });
        }


         function SetCSS() {
            if (model.Status > 0) {
                $("#Address").css("cursor","default");
                $(".address-select-btn").css({"cursor":"default","color":"#c3c3c3"});
                $('input[name=file]').attr('disabled', 'disabled');
                $('#txtArrivalDate').attr("readonly", "readonly");
                $('#Address').attr("readonly", "readonly");
                $('#Tel').attr("readonly", "readonly");
                $('#divPosition').css("display","");
            }
        }  
    </script>
</body>
</html>
