<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
		<title></title>
		<style>
			html,body{
				width:100%;
				height:100%;
			}
			*{
				margin:0;
				padding:0;
			}
			a{
				display:block;
			}
			.download{
				display:block;
				text-decoration:none;
				background:#ff6060;
				border-radius:5px;
				text-align:center;
				color:#fff;
				width:140px;
				height:40px;
				line-height:40px;
				margin:0 auto;
				font-size:16px;
				margin-top:100px;
			}
			
		</style>
	</head>
	<body>
		<div>
			<a class="download" href="http://10.55.6.102:8086/ogcs_file/userResume/CoverLetter_CV_template.docx">KNX下载模板</a>
		</div>
		<div>
			<a class="download" href="http://m.htsaclub.com/img01/CoverLetter_CV_template.docx">海途下载模板</a>
		</div>
	</body>
</html>
