<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="../../Content/ogcs/Core/css/Prompt.css?v=20170925" />
</head>
<body>
	<div class="top">
		<img src="../../Content/ogcs/Core/img/visit.png"/>
	</div>
	<div class="flo">
		<div class="title">您的浏览器<span style="color:#ee5c54">太陈旧啦！</span></div>
		<div class="dec">我们检测到您的浏览器正在使用<span style="color:#0099e5">IE9.0</span>版本以下的内核，无法完美支持 海途学子 的各项功能，需要升级后才能使用。</div>
		<div class="text">建议您使用以下浏览器：</div>
		<div class="logo-box">
			<div class="logo s">
				<img src="../../Content/ogcs/Core/img/s.png"/>
				<span class="logo-name sn">Safari</span>
			</div>
			<div class="logo f">
				<img src="../../Content/ogcs/Core/img/f.png"/>
				<span class="logo-name fn">Firefox</span>
			</div>
			<div class="logo c">
				<img src="../../Content/ogcs/Core/img/c.png"/>
				<span class="logo-name cn">Chrome</span>
			</div>
			<div class="logo e">
				<img src="../../Content/ogcs/Core/img/e.png"/>
				<span class="logo-name en">IE9+</span>
			</div>
			<div class="logo o">
				<img src="../../Content/ogcs/Core/img/o.png"/>
				<span class="logo-name on">Opera</span>
			</div>
		</div>
	</div>
</body>
</html>
