<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			*{
				margin:0;
				padding:0;
				font-size:0;
			}
			table,table tr th, table tr td { border:1px solid #0094ff; }
        table { width: 200px; min-height: 25px; line-height: 25px; text-align: center; border-collapse: collapse; padding:2px;margin:0 auto;}
        table tr td:hover{
        	box-shadow: 0 0 8px 3px #ff6060;
        }
		</style>
	</head>
	<body>
		<table>
			<tr>
				<td>内容</td>
				<td>内容</td>
				<td>内容</td>
				<td>内容</td>
				<td>内容</td>
			</tr>
			<tr>
				<td>内容</td>
				<td>内容</td>
				<td>内容</td>
				<td>内容</td>
				<td>内容</td>
			</tr>
		</table>
	</body>
</html>
