<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<title></title>
	
	<link rel="stylesheet" href="../../Content/ogcs/Core/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../Content/ogcs/Core/css/Unauthorized.css?v=20170907">

</head>
<body>
	<header></header>

	<section>
		<div class="error-box">
			<div class="error-img"></div>
			<div class="dec">抱歉，您当前浏览器版本过低，请用高版本的浏览器打开页面。</div>
			<a href="https://www.htsaclub.com/sac/lg/login" class="login-btn">点击访问登录页面<span class="arrow"><i></i></a>
		</div>
	</section>

	<footer>
		<span class="reg">©肯耐珂萨 2017 | 沪ICP备09051952号-2</span>
		<span class="in"><a href="http://www.linkedin.com/company/knx?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A1825638231400554720831%2CVSRPtargetId%3A3707210%2CVSRPcmpt%3Aprimary" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
		<span class="weibo"><a href="http://weibo.com/KNXCompany" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a></span>
		<span class="agreement"><a href="http://vx.knx.com.cn/landing/service_agreement.html" target="_blank">服务条款</a></span>
		<span class="tel"><a href="http://knx.com.cn/about/contact_us" target="_blank">联系我们</a></span>
		<span class="about"><a href="http://knx.com.cn/about" target="_blank">关于我们</a></span>
    </footer>
	<script>

	</script>
</body>
</html>